
a, a:hover, a:active{
    text-decoration: none;
    outline: none;
    
}



ul{
    font-size: 0;
    padding: 0;
}

ul li{
    width:50%;
    height:20em;
    font-size: initial;
    display: inline-block;
}

img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
}



.card_holder *:hover + .card_link, .card_holder_alt *:hover + .card_link, .card_link:hover{
    display: inline-block;
}

.card_holder ul li:nth-child(odd),
.card_holder_alt ul li:nth-child(odd){
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card_holder ul li:nth-child(even),
.card_holder_alt ul li:nth-child(even){
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.card_holder ul li:nth-child(odd),
.card_holder_alt ul li:nth-child(even){
    background: blue;
    position: relative;
}

.card_holder ul li:nth-child(even),
.card_holder_alt ul li:nth-child(odd){
    background: greenyellow;
    position: relative;
}

.after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    color: #FFF;
    bdorder-top-right-radius: 15px;
    bodrder-bottom-right-radius: 15px;
    background: rgba(0, 0, 0, .7);
    border-radius: inherit;
}

.after span {
    transform: translateY(-50%);
}

.card_holder, .card_holder_alt{
    margin: 0em 0em 3em;
    cursor: pointer;
}
.card_header{
    text-align: left;
    margin:0;
    font-family: 'Pacifico', cursive;
    
}
.card_pseudo{
    text-align: left;
    display: inline-bloc;
    width: 96%;
    margin: 0em 0em 0em 1em;
    font-size: 35px;
}
.card_age{
    font-size: 25px;
}
.card_location{
    font-size: 22px;
}
.card_link{
    margin: -3.5em auto 0;
    
    border-radius: 15px;
    padding: 0.5em 3em;
    background: white;
    border: 3px solid #deaa4b;
    z-index: 4;
    color: #585858;
    font-weight: bold;
    position: absolute;
    display: none;
    width: 5%;
    text-align: center;
    left: 0%;
    right: 0%;
}

.after{
    position: absolute;

    vertical-align:middle;
    text-align:center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.after span{
    margin-top: 6em;
    vertical-align: middle;
    display: inline-block;
    font-family: 'Yellowtail', cursive;
    font-size: 1.7em;
}