<main  [routerLink]="['/user', data.id]" [ngClass]="order === true ? 'card_holder':'card_holder_alt'">
    <p class="card_header">
        <span class="card_pseudo">{{ data.name }}, </span>
        <span class="card_age">{{ data.birth_date | age }} <span i18n="info age|The link of the menu to go to the home info@@ageUser" >ans</span>,</span>
        <span class="card_location">{{ data.city }}({{data.zipcode}})</span>
    </p>
    <ul>
        <li>
            <img src="./../../../assets/mockup/avatarhomme.jpg" class="" style="">
            <div *ngIf="order" class="after"><span>This is some content</span></div>
        </li>
        <li>
            <img src="./../../../assets/mockup/av_homme2.jpg" class="" style="">
            <div *ngIf="!order" class="after"><span>"This is some content..."</span></div>
        </li>
    </ul>
    <span class="card_link">Voir profil</span>
</main>
