.form {
  padding: 3.5rem 2rem 2rem;
  boox-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
  position: relative;

  grid-template-columns: repeat(2, 280px);
  grid-row-gap: 2rem;
  grid-column-gap: 1rem;
  color: #a8aac5;
  font-size: 22px;
  width: 25em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
}

.form__title {
  font-size: 1.5rem;
  margin: 0 0 3rem;
}

.form__item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__item--full {
  grid-column: 1 / span 2;
}

.form__item--actions {
  justify-content: center;
  font-size: 0.8rem;
  grid-template-columns: 3fr 1fr;
  padding: 2em 0em 0em 0em;
}

.form__label {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 0 0.5rem;
}

.form__input {
  border-radius: 5px;
  height: 3rem;
  padding: 2.7em;
  width: 100%;
  border: 0;
  font-weight: bold;
  color: #155bda;
  box-sizing: border-box;
}

.form__error {
  width: 100%;
  height: 3rem;
  border: 3px solid #e21084;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
}

.form__input:focus {
  border-color: #4facfe;
  outline: none;
}

.form__password-strength {
  position: absolute;
  font-size: 0.75rem;
}

.form__link {
  font-weight: bold;
  white-space: nowrap;
}

.form__button {
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1rem;
  border: 0;
  background-image: linear-gradient(-60deg, #2a2aad 0%, #6e34ae 100%);
  border-radius: 30px;
  color: #fff;
  align-self: center;
}

.form__button:focus {
  outline: none;
}

.form__button:hover {
  background: #2a2aad;
}

.fullWidth {}

.form-container>* {
  width: 100%;
}

.form-slider {
  margin: 0.5em 0em 2em;
  text-align: center;
}

.form-button-login {
  padding: 0.7em;
}
