<form class="form" action="" method="">
  <!-- <div class="form__item">
    <label
      i18n="loginemail label|The login label in login form form@@loginemail"
      class="form__label"
      for="email"
      >Email</label
    >
    <input
      [(ngModel)]="loginData.email"
      class="form__input"
      type="email"
      name="email"
      id="login_email"
      placeholder="votre mail"
      required
    />
    <div class="form__error"></div>
  </div>

  <div class="form__item">
    <label class="form__label" for="location">Password</label>
    <input
      [(ngModel)]="loginData.password"
      class="form__input"
      type="password"
      name="password"
      id="login_password"
      value=""
    />
    <div class="form__error"></div>
  </div>

  <div class="form__item form__item--full form__item--actions">
    <input
      (click)="logUser()"
      class="form__button"
      type="submit" 
      name="register"
      value="Login"
    />
  </div> -->

  <div class="form-container">

    <mat-form-field>
      <input [(ngModel)]="loginData.email" name="email" matInput placeholder="Login" />
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="loginData.password" name="password" matInput type="password" placeholder="Password" />
    </mat-form-field>

    <div class="form-slider">
      <mat-slide-toggle>Connexion auto</mat-slide-toggle>
    </div>

    <button mat-raised-button class="form-button-login" (click)="logUser()" color="accent">Se Connecter</button>
  </div>
</form>

<!-- <form class="form" action="" method="">

  <div class="form__item">
    <label i18n="register_name label|The name label in register form form@@registername" class="form__label" for="name">Name</label>
    <input [(ngModel)]="registerData.name" class="form__input" type="name" name="name" id="register_name" placeholder="votre mail"
      required>
    <div class="form__error"></div>
  </div>
  <div class="form__item">
    <label i18n="register_email label|The email label in register form form@@registeremail" class="form__label" for="email">Email</label>
    <input [(ngModel)]="registerData.email" class="form__input" type="email" name="email" id="register_email"
      placeholder="votre mail" required>
    <div class="form__error"></div>
  </div>
  <div class="form__item">
    <label i18n="register_password label|The password label in register form form@@registerpassword" class="form__label"
      for="location">Password</label>
    <input [(ngModel)]="registerData.pass" class="form__input" type="password" name="password" id="register_password"
      value="">
    <div class="form__error"></div>
  </div>

  <div class="form__item form__item--full form__item--actions">
    <input (click)="registerUser()" class="form__button" type="submit" name="register" value="Register">
  </div>
</form> -->
