html,
*:before,
*:after,
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style: none;
}

.tnav {
  display: flex;
  width: 100%;
  height: 7em;
  background: white;
  border-bottom: 8px solid #deaa4b;
}

.level1-r {
  justify-content: flex-end;
  margin-top: 0.5em;
}

.level1-l {
  justify-content: flex-start;
  min-width: 71%;
  margin: 0.5em 0;
}

.level1-r,
.level1-l {
  display: flex;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.level1-r span,
.level1-l span {
  margin: 0 2%;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.link_selected {
  color: #8e8e8e;
  border-bottom: 3px solid goldenrod;
  font-weight: 600;
}

.random_avatar {
  width: 5.5em;
  height: 5.5em;
  border-radius: 50%;
}

.name_user {
  font-family: 'Galada', sans-serif;
  font-size: 24px;
  color: #e2ac24;
}
