<main class="tnav">

  <div class="level1-l top-left_menuu">

    <span style="position:fixed;bottom:0;left:0;">{{ version }} </span>

    <span><a i18n="home link|The link of the menu to go to the home page@@homeMenu" routerLinkActive="link_selected"
        routerLink="/user" [routerLinkActiveOptions]="{exact: true}">{{ 'Les 15 du jours' | uppercase }}</a></span>

    <!-- <span><a i18n="search link|The link of the menu to go to the search page@@searchMenu" routerLinkActive="link_selected"
        routerLink="/user/search">{{ 'Search' | uppercase }}</a></span> -->

    <span><a i18n="contact link|The link of the menu to go to the contact page@@contactMenu" routerLinkActive="link_selected"
        routerLink="/user/contact">{{ 'Contact' | uppercase }}</a></span>
  </div>

  <div class="level1-r">

    <span><a i18n="" routerLinkActive="link_selected" routerLink="/interest">Like</a></span>
    <span><a i18n="" routerLinkActive="link_selected" routerLink="/demand">Demande</a></span>
    <span><a i18n="" routerLinkActive="link_selected" routerLink="/chat">Chat</a></span>
    <span><span class="name_user">{{ name }}</span></span>
    <span><img src="./../../../assets/mockup/random_avatar.jpg" class="random_avatar"></span>
  </div>

</main>
