p{
    font-size: 16px;
}

ul li{
    list-style: none;
}
input{
    text-align: center;
}

input, label, select{
    border: 0;
    padding: 0.6em 0em;
    width: 69%;;
}

input[type="submit"]{
    background: #f9a60dd4;
    color: #fff;
    border-radius: 6px;
    font-weight: bold;
}
.create_user{
    
    background: #cccccc;
    display: inline-block;
    text-align: center;
}

label{
    text-align: left;
    display: inline-block;
}

select{
    padding: 0.5em;
    background: #fff;

}

.helper{
    color: red;
}

.error{
    border:1px solid red;
}