  <!-- <form method="" class="create_user" #createUserForm="ngForm">

    <p><select name="lookfor" [(ngModel)]="lookfor">
      <option value="HF">Je suis un Homme, Je recherche une Femme</option>
      <option value="FH">Je suis une Femme, Je recherche un Homme</option>
      <option value="HH">Je suis un Homme, Je recherche une Homme</option>
      <option value="FF">Je suis un Femme, Je recherche une Femme</option>
    </select></p>

    <p><label for="pseudo">Pseudo</label>
       <input type="text" name="username" required [(ngModel)]="user.username" class="" [class.error]="usernameControl.invalid" #usernameControl="ngModel" value="" required email>
       <span class="helper" *ngIf="pseudo.invalid"><br>Pseudo invalide</span>
    </p>

    <p><label for="email">Email</label>
       <input type="text" name="email" required [(ngModel)]="user.email" class="" [class.error]="emailControl.invalid" #emailControl="ngModel" value="">
       <span class="helper" *ngIf="emailControl.invalid"><br>Adresse email invalide</span>
    </p>

    <p><label for="jj">Date de naissance</label>
       <input type="text" name="birthDate" required  class="" value=""></p>
        <ul>
          <input class="field_birth" type="text" name="jj" class="" value="">
          <input class="field_birth" type="text" name="mm" class="" value="">
          <input class="field_birth" type="text" name="yyyy" class="" value="">
        </ul> -->
    <!-- <p><input type="text" bsDatepicker name="birthDate" class=""></p>
      <p><input type="submit" name="" value="S'inscrire" class=""></p>

  </form>
  // TODO Debug
  //{{ createUserForm.value | json }}


-->