<div class="filter-list">
  <div i18n title="Proximity" class="filter-item" (click)="setFilter(proximity)"><i class="fa fa-map-marker fa-2x"></i></div>
  <div i18n title="New member" class="filter-item" (click)="setFilter(new)"><i class="fa fa-fire fa-2x" aria-hidden="true"></i></div>
  <div i18n title="Connected" class="filter-item" (click)="setFilter(online)"><i class="fa fa-search fa-2x" aria-hidden="true">
    </i> </div>
</div>

<app-card class="card" *ngFor="let user of user$; let i = index; let odd = odd;" [order]="odd" [data]="user"></app-card>


<div class="nav-button">
  <button i18n [hidden]="start == 0" (click)="previousPage()">Retour</button>
  <button i18n (click)="nextPage()">Suivant</button>
</div>
