.filter-list {
  text-align: right;
}

.filter-item {
  display: inline-block;
  color: #fff;
  cursor: pointer;
}

.filter-item i {
  padding: 0.5em;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  text-align: center;
}

.filter-item:nth-child(1) i {
  background: #74e074;
}

.filter-item:nth-child(3) i {
  background: #74ace0;
}

.filter-item:nth-child(2) i {
  background: #e08174;
}

.nav-button {
  text-align: center;
}

.nav-button button {
  background: #88bf92;
  border-radius: 10px;
  border: 0px;
  color: #fff;
  font-size: 16px;
  padding: 0.75em 3em;
}

.wrap {
  background: #2c3e50;
  font-size: 16px;
  height: 100%;
  padding: 0;
}

a:active {
  color: blue;
  border-bottom: 2px solid goldenrod;
}

a:visited {
  color: inherit;
}

.helper {
  color: red;
}

.error {
  border: 1px solid red;
}

.wrapper {
  background: #fff;
  border-radius: 7px;
  min-height: 1200px;
  margin: 5em 11% 2em;
  padding: 3em 2em;
}

.wrap {
  width: 100%;
}
