@import url('https://fonts.googleapis.com/css?family=Yellowtail|Lato|Damion');

html,
*:before,
*:after,
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: #2c3e50;
  font-size: 16px;
  height: 100%;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:active {
  color: blue;
  border-bottom: 2px solid goldenrod;
}

a:visited {
  color: inherit;
}

.helper {
  color: red;
}

.error {
  border: 1px solid red;
}

.wrapper {
  background: #fff;
  border-radius: 7px;
  min-height: 1200px;
  margin: 5em auto 2em;
  padding: 3em 2em;

}
