<link href="https://fonts.googleapis.com/css?family=Yellowtail|Raleway" rel="stylesheet">
<div class="landing_topbar">
  <span class="landing_brand"><span class="brand_a">Happy</span> <span class="brand_b">Duo</span></span>
  <button href="#" mat-button (click)="openDialog('login')" class=" landing_button">Connexion</button>
</div>

<div class="landing_overlay">Dum haec in oriente aguntur, Arelate hiemem agens Constantius post theatralis ludos atque
  circenses ambitioso editos apparatu diem sextum idus Octobres, qui imperii eius annum tricensimum terminabat,
  insolentiae pondera gravius librans, siquid dubium deferebatur aut falsum, pro liquido accipiens et conperto, inter
  alia excarnificatum Gerontium Magnentianae comitem partis exulari maerore multavit.

  In his tractibus navigerum nusquam visitur flumen sed in locis plurimis aquae suapte natura calentes emergunt ad usus
  aptae multiplicium medelarum. verum has quoque regiones pari sorte Pompeius Iudaeis domitis et Hierosolymis captis in
  provinciae speciem delata iuris dictione formavit.
  disparantur.</div>
<div class="landing_footer">
  <ul>
    <li><span (click)="openDialog('terms')">Mentions légales</span></li>
    <li><span (click)="openDialog('confidentiality')">Politique de confidentialité</span></li>
    <li><span>Conçu en France avec Amour</span></li>
  </ul>
</div>
<div class="landing_right_border"></div>
<div class="landing_right">
  <div class="landing_wrapper">
    <div class="avatar_list">
      <span class=""><img src="../../../assets/uifaces_mock5.jpeg" alt=""></span>
      <span class=""><img src="../../../assets/uifaces_mock4.jpg" alt=""></span>
      <span class=""><img src="../../../assets/uifaces_mock3.jpg" alt=""></span>
      <span class=""><img src="../../../assets/uifaces_mock2.jpg" alt=""></span>
    </div>
    <span class="subheader">Là ou se rejoignent les parents solo, la rencontre vue comme l'union de deux parents avec
      une
      vision commune, loin des supermarché de la rencontre du coin, nos membres ont la volonté réel de se reconstruire
      travers une famille Là ou se rejoignent les parents solo, la rencontre vue comme l'union de deux parents avec une
      vision commune, loin des supermarché de la rencontre du coin, nos membres ont la volonté réel de se reconstruire
      travers une famille Là ou se rejoignent les parents solo, la rencontre vue comme l'union de deux parents avec une
      vision commune
      <!-- , loin des supermarché de la rencontre du coin, nos membres ont la volonté réel de se reconstruire
      travers une famille  -->
    </span>

    <!-- <button class="landing_bigbutton">Je cherche...</button> -->
    <button class="landing_2choice">Je cherche un <b>Homme</b></button>
    <button class="landing_2choice">Je cherche une <b>Femme</b></button>
  </div>
  <!-- <app-login-signup></app-login-signup> -->
</div>
