 :host {
   background: url('../../../assets/mock_bg.jpg');
   background-size: contain;
   background-position-x: -86%;
   background-position-y: 0em;
   width: 100%;
   height: 100%;
   position: relative;
   display: block;
 }

 .landing_right {
   width: 45%;
   background: #fdfdfd;
   height: 100%;
   display: inline-block;
   position: fixed;
   right: 0%;
 }

 .landing_right_border {
   width: 6%;
   height: 150%;
   position: fixed;
   top: -2em;
   right: 41%;
   transform: rotate(4deg);
   display: inline-block;
   background: #fff;
 }

 .landing_topbar {
   position: fixed;
   width: 100%;
   height: 6em;
   top: 0%;
   left: 0%;
   background: #fff;
   z-index: 3;
   border-bottom: 8px solid #deaa4b;
 }

 .landing_button {
   float: right;
   margin: 1em 5em;
   font-size: 19px;
   text-decoration: none;
   color: #fff;
   background: #ffc762;
   font-family: "Raleway", cursive;
   font-weight: 600;
   text-transform: uppercase;
   padding: 0.55em 3em;
   letter-spacing: 0.1em;
   border-radius: 1em;
   border: 0px
 }

 .landing_brand {
   font-size: 40px;
   color: #fff;
   margin: 0.5em 0em 0em 2em;
   display: inline-block;
   font-family: 'Yellowtail', cursive;
   font-weight: bold;
 }

 .landing_brand .brand_a {
   color: #84c1e0;
 }

 .landing_brand .brand_b {
   color: palevioletred;
 }

 .avatar_list {
   margin: 0 auto;
   display: inline-block;
 }

 .avatar_list span {
   margin: 0em 0.4em;
 }

 .avatar_list span img {
   border-radius: 50%;
   width: 5.5em;
   height: 5.5em;
 }

 .subheader {
   margin: 1.5em 3.5em;
   display: inline-block;
   font-family: 'Yellowtail', cursive;
   font-size: 24px;
 }

 .landing_bigbutton {
   background: #63a8ca;
   border: solid 1px #63a8ca;
   color: #fff;
   cursor: pointer;
   display: inline-block;
   font-size: 18px;
   font-weight: 500;
   line-height: 30px;
   margin: 0em auto;
   display: block;
   padding: 0.7em 5em;
   position: relative;
   text-align: center;
   text-decoration: none;
   white-space: nowrap;
   appearance: none;
   transition: background 300ms ease-out;
   border-radius: 5px;
   box-sizing: border-box;
   transition: transform 100ms ease-in-out !important;
 }

 .landing_overlay {
   width: 40%;
   min-height: 15vh;
   background: #00000094;
   position: fixed;
   bottom: 5vh;
   padding: 1.5em;
   border-radius: 5px;
   left: 9vh;
   color: #fff;
   font-size: 16px;
 }

 .landing_wrapper {
   margin: 17vh auto;

   width: 90%;
   text-align: center;
 }

 .landing_footer {
   width: 56%;
   position: fixed;
   bottom: 0;
   left: 0;
   background: #00000042;
 }

 .landing_footer a,
 .landing_footer span {
   color: #c1c1c1;
   text-decoration: none;
   cursor: pointer;
 }

 ul li {
   list-style: none;
   display: inline-block;
   padding: 0.2em 2em;
 }

 ul {
   margin: 0;
   padding: 0;
   text-align: center;
   display: block;
 }

 .landing_2choice {

   background: #63a8ca;
   cursor: pointer;
   padding: 1.3em 2em;
   margin: 0.2em;
   border: 0px;
   color: #fff;
   border-radius: 5px;
   width: 64%;
   font-size: 15px;
 }
