<div class="wrap">

  <div class="wrapper">

    <main class="card_holder">

      <ng-container class="display" *ngFor="let user of user$">
        <div class="user-detail_button-back">
          <a (click)="backClicked()">Retour</a>
        </div>
        <div class="user-detail_wrap">
          <div class="user-detail_wrapper">
            <img src="../../../../assets/mockup/avatarhomme.jpg" class="user-detail_pic-main" alt="" />
            <div class="user-detail_top-side-wrapper">
              <div class="user-detail_name">{{ user.name }}</div>
              <div>
                <span>{{ user.birth_date | age }} ans,</span>
                <span>Paris (< 10 km)</span> </div> <div>3 enfants</div>
              <div *ngIf="children$">
                <div *ngFor="let children of (children$ | async) as children">
                  <div>1 {{children.genre | genre }} de {{children.birth_date | age}} ans</div>
                </div>
              </div>
            </div>
            <div></div>
            <div class="button-action_list">
              <div (click)="action_contact()" class="button-action modern-blue">Contacter</div>
              <div (click)="action_interest()" class="button-action modern-orange">Interessé ?</div>
              <div (click)="action_suggest()" class="button-action modern-purple">Suggerer</div>
            </div>
            <hr />
            <h2>Je suis</h2>
            <hr />
            <h2>Je cherche</h2>
            <hr />
            <h2>Passions / Interêt</h2>
          </div>
        </div>
        <ng-template #²> <span>Chargement</span> </ng-template>
      </ng-container>
    </main>

  </div>
</div>
