@import url('https://fonts.googleapis.com/css?family=Lobster');


hr {

  border-radius: 25px;
  height: 0.3em;
  border: 0px;
  background: #dcdcdc;
  margin: 3em auto;
}

.user-detail_button-back {
  display: block;
  text-align: right;
  cursor: pointer;
}



.user-detail_button-back a {
  margin-bottom: -1em;
  margin-left: 2.5em;
  background: #f7f7f7;
  border-radius: 15px;
  padding: 0.5em 1.2em;
  border: 1px solid #ececec;
  color: #7b7b7b;
  font-family: Lato;
  text-decoration: none;
}

.user-detail_wrap {
  background: rgb(243, 243, 243);
  border-radius: 15px;
  width: 97%;
  margin: 2.5em auto 2em;
  height: 100em;
  border-top: 2em solid rgb(236, 236, 236)
}

.user-detail_wrapper {
  width: 90%;
  margin: 0 auto;
  font-size: 1.3em;
}

.user-detail_pic-main {
  width: 30%;
  border-radius: 15px;
  background: grey;
  display: inline-block;
  margin: -4em 0em 0em 0em;
}

.user-detail_top-side-wrapper {
  display: inline-block;
  margin-top: -2.2em;
  vertical-align: top;
}

.user-detail_name {
  font-family: 'Lobster', sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-left: 0.5em;
  color: #ef4141;
  text-shadow: rgb(175, 175, 175) 1px 0 10px;
}

.button-action_list {
  display: block;
  text-align: right;
}

.button-action {

  border-radius: 1.8em;
  display: inline-block;
  padding: 0.6em 2em;
  font-weight: 500;
  font-family: 'calibri', sans-serif;
  color: #fff;
  cursor: pointer;

}

.button-action:nth-child(1) {
  background: #25b925;
}

.button-action:nth-child(2) {
  background: #f3c940;
}

.button-action:nth-child(3) {
  background: #259bb9;
}

.modern-blue {
  background: #00A9C9 !important;
}

.modern-purple {
  background: #983e87 !important;
}

.modern-green {
  background: #25b4a5 !important;
}

.modern-orange {
  background: #fdaa4f !important;
}
