@media (min-width: 2300px) {
  .wrapper {
    width: 52%;
  }

  .tnav {
    padding: 0% 12%;
  }

}

@media (max-width: 2299px) {

  .tnav {
    padding: 0% 6%;
  }

}

@media (max-width: 1400px) {
  .wrapper {
    width: 92%;
  }

  .tnav {
    padding: 0% 6%;
  }

}
